<?xml version="1.0" encoding="utf-8"?>
<config>
<port type="http" bind="8080">
<mode>thread</mode>
<module></module>
<param>
<site>www</site>
<authorization></authorization>
</param>
</port>
<port type="http" bind="8886">
<mode>process</mode>
<module>xhttps</module>
<param>
<site>www</site>
<authorization></authorization>
<security>ssl</security>
<security-verify></security-verify>
<ca-name>sslca</ca-name>
<crt-name>sslsrv</crt-name>
<key-name>sslsrv</key-name>
<key-password>123456</key-password>
</param>
</port>
<port type="-http" bind="8887">
<mode>thread</mode>
<module>xhttps</module>
<param>
<site></site>
<authorization></authorization>
<security>ssh</security>
<security-verify></security-verify>
<key-name>sshsrv</key-name>
<key-password>123456</key-password>
</param>
</port>
</config>