<?xml version="1.0" encoding="utf-8"?>
<config>
<port type="http" bind="80">
<mode>thread</mode>
<module>xhttps</module>
<param>site:www</param>
</port>
<port type="http" bind="443">
<mode>thread</mode>
<module>xhttps</module>
<param>security:ssl crt-name:sslsrv key-name:sslsrv key-password:123456 ca-name:sslca</param>
</port>
<port type="-http" bind="8889">
<mode>thread</mode>
<module>xhttps</module>
<param>AUTH:XDS</param>
</port>
<port type="-http" bind="8888">
<mode>thread</mode>
<module>xhttps</module>
<param>security:ssl crt-name:sslsrv key-name:sslsrv key-password:123456 ca-name:sslca</param>
</port>
<port type="-http" bind="8887">
<mode>thread</mode>
<module>xhttps</module>
<param>security:ssh key-name:sslsrv key-password:123456</param>
</port>
<port type="tcp" bind="1833">
<mode>thread</mode>
<module>xtcps</module>
<param>site:mqtt</param>
</port>
<port type="-tcp" bind="104">
<mode></mode>
<module>xtcps</module>
<param>site:pacs</param>
</port>
<port type="-udp" bind="69">
<mode>thread</mode>
<module>xudps</module>
<param>site:tftp security:ssl crt-name:sslsrv key-name:sslsrv key-password:123456</param>
</port>
<port type="udp" bind="5683">
<mode>thread</mode>
<module>xudps</module>
<param>site:coap timeout:20000</param>
</port>
</config>