<?xml version="1.0" encoding="utf-8"?>
<config>
<port type="http" bind="80">
<mode>thread</mode>
<module>xhttps.exe</module>
<param>
<site>www</site>
<authorization></authorization>
</param>
</port>
<port type="http" bind="443">
<mode>thread</mode>
<module>xhttps.exe</module>
<param>
<site></site>
<authorization></authorization>
<security>ssl</security>
<security-verify></security-verify>
<ca-name>sslca</ca-name>
<crt-name>sslsrv</crt-name>
<key-name>sslsrv</key-name>
<key-password>123456</key-password>
</param>
</port>
<port type="-http" bind="8887">
<mode>thread</mode>
<module>xhttps.exe</module>
<param>
<site></site>
<authorization></authorization>
<security>ssh</security>
<security-verify></security-verify>
<key-name>sshsrv</key-name>
<key-password>123456</key-password>
</param>
</port>
<port type="tcp" bind="1833">
<mode>thread</mode>
<module>xtcps.exe</module>
<param>
<site>mqtt</site>
</param>
</port>
<port type="-tcp" bind="104">
<mode></mode>
<module>xtcps.exe</module>
<param>
<site>pacs</site>
</param>
</port>
<port type="udp" bind="69">
<mode>thread</mode>
<module>xudps.exe</module>
<param>
<site>tftp</site>
<timeout>20000</timeout>
<security>dtls</security>
<crt-name>sslsrv</crt-name>
<key-name>sslsrv</key-name>
<key-password>123456</key-password>
</param>
</port>
<port type="udp" bind="5683">
<mode>thread</mode>
<module>xudps.exe</module>
<param>
<site>coap</site>
<timeout>20000</timeout>
</param>
</port>
</config>